code/cbirc_pi_backend/backend/src/test/java/cn/cbirc/webservice/api.wsdl

<?xml version='1.0' encoding='UTF-8'?><wsdl:definitions xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://webservice.cbirc.cn" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:ns1="http://schemas.xmlsoap.org/soap/http" name="PolicyInterpretationWebServiceImplService" targetNamespace="http://webservice.cbirc.cn">
  <wsdl:types>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://webservice.cbirc.cn" elementFormDefault="unqualified" targetNamespace="http://webservice.cbirc.cn" version="1.0">

  <xs:element name="count" type="tns:count"/>

  <xs:element name="countResponse" type="tns:countResponse"/>

  <xs:element name="getById" type="tns:getById"/>

  <xs:element name="getByIdResponse" type="tns:getByIdResponse"/>

  <xs:element name="list" type="tns:list"/>

  <xs:element name="listResponse" type="tns:listResponse"/>

  <xs:complexType name="count">
    <xs:sequence>
      <xs:element minOccurs="0" name="docTitle" type="xs:string"/>
      <xs:element minOccurs="0" name="docIdentifier" type="xs:string"/>
      <xs:element minOccurs="0" name="docDepart" type="xs:string"/>
      <xs:element minOccurs="0" name="startTime" type="xs:string"/>
      <xs:element minOccurs="0" name="endTime" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="countResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:int"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="getById">
    <xs:sequence>
      <xs:element name="id" type="xs:int"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="getByIdResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:policyInterpretationVO"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="policyInterpretationVO">
    <xs:sequence>
      <xs:element minOccurs="0" name="docDepart" type="xs:string"/>
      <xs:element minOccurs="0" name="docIdentifier" type="xs:string"/>
      <xs:element minOccurs="0" name="docTitle" type="xs:string"/>
      <xs:element name="id" type="xs:int"/>
      <xs:element minOccurs="0" name="interpretAbstract" type="xs:string"/>
      <xs:element minOccurs="0" name="interpretBody" type="xs:string"/>
      <xs:element minOccurs="0" name="interpretDepart" type="xs:string"/>
      <xs:element minOccurs="0" name="interpretTitle" type="xs:string"/>
      <xs:element minOccurs="0" name="status" type="xs:string"/>
      <xs:element minOccurs="0" name="time" type="xs:string"/>
      <xs:element minOccurs="0" name="user" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="list">
    <xs:sequence>
      <xs:element name="withBody" type="xs:boolean"/>
      <xs:element minOccurs="0" name="docTitle" type="xs:string"/>
      <xs:element minOccurs="0" name="docIdentifier" type="xs:string"/>
      <xs:element minOccurs="0" name="docDepart" type="xs:string"/>
      <xs:element minOccurs="0" name="startTime" type="xs:string"/>
      <xs:element minOccurs="0" name="endTime" type="xs:string"/>
      <xs:element name="pageNo" type="xs:int"/>
      <xs:element name="pageSize" type="xs:int"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="listResponse">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="return" type="tns:policyInterpretationVO"/>
    </xs:sequence>
  </xs:complexType>

</xs:schema>
  </wsdl:types>
  <wsdl:message name="count">
    <wsdl:part element="tns:count" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="countResponse">
    <wsdl:part element="tns:countResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="list">
    <wsdl:part element="tns:list" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="listResponse">
    <wsdl:part element="tns:listResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getByIdResponse">
    <wsdl:part element="tns:getByIdResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getById">
    <wsdl:part element="tns:getById" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="PolicyInterpretationService">
    <wsdl:operation name="count">
      <wsdl:input message="tns:count" name="count">
    </wsdl:input>
      <wsdl:output message="tns:countResponse" name="countResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getById">
      <wsdl:input message="tns:getById" name="getById">
    </wsdl:input>
      <wsdl:output message="tns:getByIdResponse" name="getByIdResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="list">
      <wsdl:input message="tns:list" name="list">
    </wsdl:input>
      <wsdl:output message="tns:listResponse" name="listResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="PolicyInterpretationWebServiceImplServiceSoapBinding" type="tns:PolicyInterpretationService">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="count">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="count">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="countResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getById">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="getById">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="getByIdResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="list">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="list">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="listResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="PolicyInterpretationWebServiceImplService">
    <wsdl:port binding="tns:PolicyInterpretationWebServiceImplServiceSoapBinding" name="PolicyInterpretationWebServiceImplPort">
      <soap:address location="http://localhost:8002/services/ws/api"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>